@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Sans+Bhaiksuki&family=Roboto+Slab:wght@100..900&display=swap');

html,
body {
  margin: 0;
  min-height: 100vh;
  background: #C70039;
    font-family: "Roboto Slab", serif;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 1300px;
  height: 600px;
  border: 2px #FFC300 solid;
  border-radius: 12px;
  text-align: center;
  background: #FFC300;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  line-height: 40px;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  word-spacing: 3px;
  top:0;
  left:0;
  position:absolute;
}

.start-button {
  width: 200px;
  height: 70px;
  font-size: 32px;
  align-self: center;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 10px;
  background: #F9E8B1;
}

.selection {
  font-size: 45px;
  margin-top: 150px;
  margin-bottom: auto;
}

.selector {
  width: 170px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  border-radius: 2px;
    background: #F9E8B1;
    font-family: "Roboto Slab", serif;

}

#rounds-select {
  width: 90px;
}

#time-select {
  width: 90px;
}

.prompt {
  align-self:baseline;
  width: 100%;
  text-align: left;
  justify-self: center;
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
    padding-right: 5px;

  box-sizing: border-box;
  grid-column: 1;
}

.timer {
  align-self: center;
  margin-top: -40px;
  grid-column: 1;
      font-size: 30px;

}

.input {
  width: 865px;
  height: 565px;
  border-radius: 10px;
    font-size: 30px;
  resize: none;
box-sizing: border-box;
  padding: 15px;
  grid-column: 2;
  grid-row: 1;
  background-color: #F9E8B1;
  border: 2px #F9E8B1 solid;
}

.game-column {
  display: grid;
  grid-template-columns: 400px 900px;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  left:0;
    margin-left: 0;
  top:15px;
  position:absolute;
}
