@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Noto+Sans+Bhaiksuki&family=Roboto+Slab:wght@100..900&display=swap");

html,
body {
  margin: 0;
  min-height: 100vh;
  /* background: #c70039; */
  background: #4caf50;

  font-family: "Roboto Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 1300px;
  height: 600px;
  border: 2px #ffc300 solid;
  border-radius: 12px;
  text-align: center;
  background: #ffc300;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  line-height: 40px;
}

.start {
  display: flex;
  flex-direction: column; /* stack text above buttons */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  word-spacing: 3px;
  top: 0;
  left: 0;
  position: absolute;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px; /* space between the two buttons */
}

.start-button {
  width: 300px;
  height: 130px;
  font-size: 42px;
  align-self: center;
  margin-bottom: 40px;
  margin-right: 40px;
  cursor: pointer;
  border-radius: 10px;
  background: #f9e8b1;
  border: 1px solid #e5d398;
  font-family: "Roboto Slab", serif;
}

.start-button:hover {
  background: #e5d398;
  cursor: pointer;
}

.responses-button {
  width: 300px;
  height: 130px;
  font-size: 42px;
  align-self: center;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 10px;
  background: #f9e8b1;
  border: 1px solid #e5d398;
  font-family: "Roboto Slab", serif;
}

.responses-button:hover {
  background: #e5d398;
  cursor: pointer;
}

.selection {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: auto;
  line-height: 1.6;
}

.selector {
  width: 170px;
  height: 60px;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  border: none;
  background: #f9e8b1;
  font-family: "Roboto Slab", serif;
}

.selector:hover {
  background: #e5d398;
  cursor: pointer;
}

#rounds-select {
  width: 90px;
}

#time-select {
  width: 90px;
}

.prompt {
  align-self: baseline;
  width: 100%;
  text-align: left;
  justify-self: center;
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 5px;

  box-sizing: border-box;
  grid-column: 1;
}

.timer {
  align-self: center;
  margin-top: -55px;
  grid-column: 1;
  font-size: 35px;
}

.input {
  width: 815px;
  height: 565px;
  border-radius: 10px;
  font-size: 30px;
  resize: none;
  box-sizing: border-box;
  padding: 15px;
  grid-column: 2;
  grid-row: 1;
  background-color: #f9e8b1;
  border: 2px #f9e8b1 solid;
}

.game-column {
  display: grid;
  grid-template-columns: 450px 1050px;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  margin-left: 0;
  top: 15px;
  position: absolute;
}

.recent-responses-prompt-btn {
  width: 220px;
  height: 120px;
  border-radius: 10px;
  background: #f9e8b1;
  border: 1px solid #e5d398;
  font-family: "Roboto Slab", serif;
}

.responses-prompt-select-column {
  display: grid;
  grid-template-rows: repeat(4, 120px);
  grid-template-columns: repeat(2, 220px);
  column-gap: 10px;
  row-gap: 10px;
  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 20px;
  grid-auto-flow: column;
  grid-column: 1;
}

.responses-text-view-column {
  display: grid;
  column-gap: 10px;
  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 20px;
  grid-auto-flow: column;
  grid-column: 2;
  text-align: left;
  justify-self: center;
}

.response-text {
  grid-auto-flow: column;
  grid-column: 2;
}

.no-responses-text {
  grid-auto-flow: column;
  grid-column: 1;
    font-size: 20px;
text-align: center;
  justify-self: center;
}

.response-heading {
  text-align: center;
  justify-self: center;
  height: 15px;
  font-size: 20px;
    grid-column: 1;

}

.response-div {
  display: grid;
  grid-template-columns: 450px 1050px;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  margin-left: 0;
  top: 0px;
  position: absolute;
}
